<ChartTooltipSettings Enable="true">
    <Template>
        @{
            var data = context as ChartTooltipInfo;
            var displayDataStr = data.Text;
            @if (displayDataStr != null)
            {
                var displayData = PointData.GetPointData(displayDataStr);

                <div>
                    <table style="width:100%;  border: 1px solid black; background-color: white">

                        <tr>
                            <th colspan="2">@displayData.BrandName @displayData.Name @displayData.Diameter</th>
                        </tr>
                        <tr>
                            <td>@displayData.XAxisName:</td>
                            <td>@displayData.XAxisValue @displayData.XAxisUnit</td>
                        </tr>
                        <tr>
                            <td>@displayData.YAxisName:</td>
                            <td>@displayData.YAxisValue @displayData.YAxisUnit</td>
                        </tr>
                        @if (displayData.IsBubble)
                        {
                            <tr>
                                <td>@displayData.BubbleSizeName:</td>
                                <td>@displayData.BubbleSizeValue @displayData.BubbleSizeUnit</td>
                            </tr>
                        }
                    </table>
                </div>
            }
        }
    </Template>
</ChartTooltipSettings>

@code {

}
